/*body {
  padding: 2.25em;
  font: 100%/1.4 sans-serif;
}

.tab-container {
  section {
    padding: 1em;
    border-radius: 5px;
    background-color: #e5e5e5;
    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
    }
    p {
      margin: .5em 0;
    }
  }
}

.tab-nav{
  margin-bottom: 1em;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: .5em;
    }
    a {
      display: inline-block;
      padding: 0 1em;
      text-decoration: none;
      text-align: center;
      line-height: 2.25em;
      background-color: none;
      &.curr {
        border-radius: 5px;
        color: white;
        background-color: #333;
      }
    }
  }
}
*/


/*.accordian {
  width: 805px; height: 320px;
  overflow: hidden;

  margin: 100px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
* {
  margin: 0; 
  padding: 0;
}
.accordian ul {
  width: 2000px;
  
}

.accordian li {
  position: relative;
  display: block;
  width: 160px;
  float: left;
  
  border-left: 1px solid #888;
  
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  
}

.accordian ul:hover li {width: 40px;}

.accordian ul li:hover {width: 640px;}


.accordian li img {
  display: block;

}

.image_title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0; bottom: 0; 
width: 640px; 

}
.image_title a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}

*/